{% extends "base.html" %}

{% block content %}
<div class="form">
    <form action="" method="POST">
        <div>
            <label for="url-image"> Lien pour l'image principale :
                <input type="text" name="url-image" id="url-image" value="{{ request.form['url-image'] }}">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
            </span>
        <div>
            <label for="localisation"> Localisation du bien :
                <input type="text" name="localisation" id="localisation" value="{{ request.form['localisation'] }}">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
            </span>
        <div>
            <label for="type">Type :
                <input type="text" name="type" id="type" value="{{ request.form['type']}}">  
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
            </span>
        <div>
            <label for="dates"> Vos dates de disponibilité :
                <input type="text" name="dates" id="dates" value="{{ request.form['dates'] }}">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
            </span>
        <div>
            <label for="prix"> Loyer demandé pour une journée :
                <input type="prix" name="prix" id="prix" value="{{ request.form['prix'] }}">
            </label>
        </div>
        <span class="material-symbols-outlined">
            beach_access
            </span>
        <div>
            <input type="submit" value="Valider votre lieu de destination!">
        </div>
    </form>
</div>
{% endblock %}